/* color*/
:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --BlackColor: hsl(0, 0%, 10%);
  --WhiteColor: hsl(0, 0%, 100%);
  --texteColor: hsl(240, 1%, 40%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --grayBg: hsl(0, 0%, 96%);
  --grayText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 92%);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);

}

.slider {
    position: relative;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
   
  }
  
  .image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: var(--grayText);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color:  var(--grayText);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  