
/* color*/
:root {
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --BlackColor: hsl(0, 0%, 10%);
    --WhiteColor: hsl(0, 0%, 100%);
    --texteColor: hsl(240, 1%, 40%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --grayBg: hsl(0, 0%, 96%);
    --grayText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 92%);
    // --boxShaddo : box-shadow:  0 2px 8px 2px rgba(178, 178, 178, 0.334);

}

.KandavanVillage{
    .secContainer{
        h2{
            margin: 20px 0;
            font-weight: 500;
            color: var(--BlackColor);

            
        }
        p{
            direction: rtl;
            text-align: justify;
            font-size: 15px;
            color: var(--texteColor);
            line-height: 1.5;
            margin: 10px;
        }
        .img{
            border-radius: 10px;
            width: 100%;
        }
        .ul{
            list-style-type: square;
            line-height: 2;
           margin-right: 10px;
        }
    }

}
